        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }

        .container {
            max-width: 800px;
            margin: auto;
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #007BFF;
        }

        h2 {
            text-align: center;
            color: #1766bb;
        }

        .endpoint {
            display: flex;
            align-items: center;
            margin: 10px 0;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background: #fafafa;
        }

        .method {
            font-weight: bolder;
            padding: 5px;
            border-radius: 3px;
            margin-right: 5px
        }

        .get {
            background: #28a745;
            color: white;
        }

        .post {
            background: #007bff;
            color: white;
        }

        .put {
            background: #ffc107;
            color: black;
        }

        .delete {
            background: #dc3545;
            color: white;
        }

        .message {
            margin-left: auto;
            font-style: italic;
            font-size: 0.7em;
        }

        button {
            padding: 5px 10px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        .try-btn {
            background: #007bff;
            color: white;
        }

        img {
            max-width: 100%;
            height: auto;
            margin: 20px 0;
        }
